@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* overflow:  ; */
  background: #18181b;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

}

* {
  box-sizing: border-box;
}

.active {
  background-color: #fff;
  transition: .4s ease;
}

.pill {
  display: inline-block;
  transition: .4 ease;
}

.pill:hover * {
  transform: scale(1.1) translateY(-.5rem); /* (150% zoom on hover) */;
  background-color: rgb(244, 231, 112);
  transition: .4s ease;
}

.cursive {
  font-size: 2rem;
  margin: 0;
  color: hsl(0, 0%, 100%);
  font-family: 'Allura', cursive;
  user-select: none;
}